<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>Tender-service</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="">main</a>
            </li>
            <li>
                <a href="">user</a>
                <ul>
                    <li>create new</li>
                </ul>
            </li>
            <li>
                <a href="">tender</a>
                <ul>
                    <li>create new</li>
                    <li>change status</li>
                    <li>show active</li>
                </ul>
            </li>
            <li>
                <a href="">proposition</a>
                <ul>
                    <li>create new</li>
                    <li>edit exist</li>
                    <li>change status</li>
                </ul>
            </li>
        </ul>
        <div>
            You're not authorized
            <a href="">register</a>
            <a href="">log in</a>
            <a href="">sign out</a>
        </div>
    </nav>
</body>
</html>