<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Change tender status</h2>
<div th:if="${#lists.isEmpty(tenderList)}">
    <p>
        We don't have any tender :(
    </p>
</div>

<div th:unless="${#lists.isEmpty(tenderList)}">
    <form action="/tender/changeStatus" method="post">
        <label for="id">Tender Id:</label>
        <select name="id" id="id" required>
            <option th:each="tender : ${tenderList}" th:value="${tender.id.id}" th:text="${tender.name}"></option>
        </select>
        <label for="status">Status: </label>
        <select name="status" id="status" required>
            <option th:each="status : ${statusList}" th:value="${status}" th:text="${status}"></option>
        </select>
        <br/>
        <input type="submit" value="Change">
    </form>
</div>

</body>
</html>