<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<h2>Create tender</h2>


<div th:if="${#lists.isEmpty(userList)}">
    <p>
        We don't have any user :(
    </p>
</div>

<div th:unless="${#lists.isEmpty(userList)}">
    <form action="/tender" method="post">
        <input type="text" name="name" placeholder="Name" required/><br/>
        <textarea name="description" cols="30" rows="10" placeholder="Description" required></textarea><br/>
        <label for="userId">User: </label>
        <select name="userId" id="userId" required>
            <option th:each="user : ${userList}" th:value="${user.id.id}" th:text="${user.username}"></option>
        </select><br/>
        <input type="submit" value="Create">
    </form>
</div>

</body>
</html>